<!-- buttons for upvote,downvote and delete -->

<style>

  .btn-sm, .btn-group-sm > .btn {
      padding: 1vh 2vh;
      font-size: 2vh;
      border-radius: 2vh;
      margin-left: 2vw;
      margin-bottom: 2vh;
  }
  .btn-like {
      color: #fff;
      background-color: #DAA520;
      border-color: #DAA520;
  }
  .btn-dislike {
      color: #fff;
      background-color: #DAA520;
      border-color: #DAA520;
  }
  .btn-delete {
      color: #fff;
      background-color: #DAA520;
      border-color: #DAA520;
  }
  </style>

<div>

  <button class="btn btn-sm btn-like" (click)="likesth()">
    <i class="fa fa-thumbs-up" id="like"></i>{{upvoteth}}
 </button>

 <button class="btn btn-sm btn-dislike" (click)="dislikesth()">
   <i class="fa fa-thumbs-down" id="dislike"></i>{{downvoteth}}
 </button>

 <button class="btn btn-sm btn-delete" id="del">
   <i class="fa fa-trash" id="delete"></i>
 </button>
 
</div>