<style>
  :host {
    font-family: 'Rancho', cursive;    
    font-size: 4vh;
    color: #c5c5c5;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
   

  h1 {
   font-size: 8vh;
   color: #DAA520;
  
  }

  h2 {
   font-size: 5vh;
   color: #DAA520;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: 'Rancho', cursive; 
  }
  </style>

<div class="content" role="main">
  <!-- Navbar -->
  <div class="navbar" >
    <img width="70" src="../assets/images/logo2.png">
    <h1>QuotesExtend</h1>

  </div>

  <div class="all">

    <!-- Welcome-->
    <div class="welcome">
      <span> Welcome to {{ title }} ! </span>
      <p style=" margin-top: 2vh; font-size: 4vh; color: #fff;"> Where we give a voice to your creativity</p>
    </div>
    <div class="container text-center">
      <p>"Tell the readers a story! Because without a story, you are merely using words to prove you can string them together in logical sentences." </p> 
       <p>- Anne McCaffrey</p>
    </div>



    </div>

     <!-- Footer -->
     <div class="footer">
      <p><span>────For more enquiries find us on</span></p>
      <div>
              <i class="fa fa-facebook"></i>
              <i class="fa fa-twitter"></i>
              <i class="fa fa-instagram"></i>
              <i class="fa fa-youtube"></i>
              <i class="fa fa-slack"></i>
              <i class="fa fa-github"></i>
              <i class="fa fa-whatsapp"></i>
      </div>
      <p>© Copyright 2021 </p>
   </div>

  
</div>
