
<!-- Trending Quotes -->

<style>

  h1 {
     font-size: 8vh;
     color: #DAA520;
    
    }
  
    h2 {
     font-size: 5vh;
     color: #DAA520;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: 'Rancho', cursive; 
    }
  
  .col-md-4{
    background-color: transparent;
      color: #c5c5c5;
      font-weight: 600;
      font-size: 2vw;
      border: 2px solid #fff;
      margin-left: 2vw;
      width: 30%;
    }
  
  .col-md-4 p {
    font-size: 4vh;
  }
  
  </style>

<app-quotesextend-form></app-quotesextend-form>

<div class="container text-center">
<h2 style="margin-top: 5vh;">Trending Quotes</h2>
<p>Here are some Trending Quotes of the Day:</p>
</div>

<div class="container" style="margin-bottom: 10vh;">
  <div class="row" > 

    <div class="col-md-4" style="margin-bottom: 5vh;"  >
      <p>Posted by: </p> 
      <p>""</p>
      <p></p>

     

    </div>

 </div>

</div>
